.custom-form {
    background: linear-gradient(145deg, #2c3e50, #3499db);
    padding: 2rem;
    border-radius: 15px;
}

.form-label {
    color: #fff
}

.custom-icon {
    background-color: #186090;
    border: #186090;
}

.btn.btn-primary.custom-button {
    background: linear-gradient(145deg, #e74c3c, #f39c12);
    padding: 0.rem 2rem;
    border-radius: 15px;
    border: none;
}

